#search {
    display: flex;
    border: 1.5px solid black;
    align-items: center;
    border-radius: 22px 22px;
    max-width: 225px;
    margin: 0px auto;
    transition: max-width .5s ease-in-out;
}

#search > * {
    font-size: 14px;
}

#search > i {
    padding: 4px;
}

#search > input {
    border: none;
    background: none;
    outline: none;
    margin-left: 6px;
    flex-grow: 1;
}

#search:focus-within {
    max-width: 500px;
}

#search > button {
    border: none;
    background-color: black;
    color: white;
    padding: 0px 8px;
    font-size: 20px;
    border-radius: 0px 22px 22px 0px;
    outline: none;
}

.header {
    text-align: center;
}

.header > h1 {
    margin-bottom: -8px;
}

#constants-table {
    width: 100%;
    border-collapse: collapse;
}

#constants-table th, td {
    padding: 2px 6px;
    line-height: 24px;
}

.item-category {
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 4px;
    margin-right: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.item input {
    border: none;
    user-select: none;
    padding: 1px 0px 5px;
    outline: none;
    background: none;
    width: 9ch;
}

.item p {
    margin: 0px;
}

.item a.item-link {
    margin: 0px;
    text-decoration: none;
    color:black;
}

.item a.item-link:visited {
    color: black; 
}

th::after {
    content: ':';
}

.empty-space {
    margin-left: 6ch;
}

#show-more {
    margin: 18px auto;
    display: block;
    border: 2px solid blue;
    padding: 4px 14px;
    background: none;
    color: blue;
    font-size: 14px;
    border-radius: 8px;
    transition: all .4s;
}

#show-more:hover {
    color: white;
    background: blue;
}